[Unit]
Description=rkt metadata
Documentation=https://github.com/rkt/rkt/blob/master/Documentation

[Service]
Slice=machine.slice
ExecStart=/usr/bin/rkt metadata-service
ExecStopPost=pkill -TERM -f "rkt metadata-service"
KillMode=process
Restart=always